<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Chat</h1>
				<span data-bind="html : estadoChatDeTexto"></span> - <span data-bind="html : estadoSignaling"></span><br>
				<strong data-bind="html : errorChatDeTexto" style="color : red"></strong> -  <strong data-bind="html : errorSignaling" style="color : red"></strong>
	
				<!-- ko with : user -->
				<div class="oj-sm-12">
					<div class="oj-sm-4">
						<!-- ko if : picture -->
							<img data-bind="attr : { src : picture }" width="50" height="50">
						<!-- /ko -->
					</div>
					<div class="oj-sm-4">
						Conectado como <span data-bind="html : name"></span>
					</div>
					<div class="oj-sm-4"></div>
				</div>
				<!-- /ko -->

				<div class="oj-sm-12">
					<!-- <button data-bind="click : encenderVideoLocal">Encender vídeo local</button>-->
					<!--<button data-bind="click : crearConexion">Crear conexión</button>-->
				</div>
				
				<!-- ko with : chat -->
					<div class="oj-sm-12 oj-flex">
						<div class="oj-sm-6">
							<h4>Usuarios</h4>
							<!-- ko foreach : usuarios -->
							<div>
								
								<span data-bind="html :  $data.nombre  , click : function() { $parent.setDestinatario($data); }"></span>
								
							</div>
							<!-- /ko -->						
						</div>
	
						<div class="oj-sm-6">
							<h4>Mensajes a todos</h4>
							<!-- ko foreach : mensajesRecibidos -->
							<div >
							[<span data-bind="html : $data.hora"></span>]
							<span data-bind="html : $data.user"></span> dice :
							<span data-bind="html : $data.texto"></span>
							
							</div>
							<!-- /ko -->
	
							<input type="text" size="50" data-bind="value : mensajeQueVoyAEnviar">
							<button data-bind="click : enviarATodos">Enviar mensaje a todos</button>
							<br>								
						</div>
					</div>
							
					
				
				<div class="oj-sm-12 oj-flex" >
				
					
				
						
				
				</div>
				<!-- /ko -->
				
				
			</div>
		</div>
	</div>
</div>